@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #4045ce;

    --background: 277, 23%, 92%;
    --foreground: 236, 21%, 15%;

    --muted: 253 29.5% 15.9%;
    --muted-foreground: 253 5.8999999999999995% 55.3%;

    --popover: 253 53.2% 6.890000000000001%;
    --popover-foreground: 253 5.8999999999999995% 97.65%;

    --card: 253 53.2% 6.890000000000001%;
    --card-foreground: 253 5.8999999999999995% 97.65%;

    --border: 253 29.5% 15.9%;
    --input: 253 29.5% 15.9%;

    --primary: 238 59% 53%;
    --primary-foreground: 14, 0%, 97%;

    --secondary: 253 29.5% 15.9%;
    --secondary-foreground: 253 5.8999999999999995% 97.65%;

    --accent: 253 29.5% 15.9%;
    --accent-foreground: 253 5.8999999999999995% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 253 5.8999999999999995% 97.65%;

    --ring: 253 59% 53%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply bg-black
  }
}

body {
  min-height: 100vh;
}
